@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

nav {
  background: #5e380f;
  border-bottom: 8px solid #b1855c;
}
nav a {
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eeba71;
}

form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.method-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 10px;
}

.method-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ffd297;
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25%;
  justify-content: center;
  transition: background 0.8s;
  border: 2px solid #333;
}

.method-button img {
  width: 100%;
  height: auto;
}

.method-button:hover {
  background-color: #fce0bb;
  background-image: radial-gradient(circle, transparent 1%, #fce0bb 1%);
  background-position: center;
  background-size: 15000%;
}

.method-button:active {
  transition: background 0s;
  background-color: #ffd297;
  background-size: 100%;
}

.method-button:focus {
  background-color: #ffd297;
  }

@media (max-width: 600px) {
  .method-buttons {
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(128px, 1fr));
  }
}

.sidenav {
  background-color: #fce0bb;
}

.subheader {
  text-transform: uppercase;
}

.subheader span {
  font-weight: bold;
}

.divider {
  color: #5e380f;
  background-color: #5e380f;
}
/* Tekst w pasku bocznym */
li a {
  font-family: Arial, sans-serif;
}

.xxxx {
  margin-top: 15px;
}

.method-icon-inside {
  padding: 10px;
  border: 2px solid #333;
  background-color: #ffd297;
  border-radius: 25%;
  width: 30%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 61px -17px #b1855c;
}

.description {
  font-size: 18px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 35px;
  font-weight: 600;
}

.description h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .description {
    font-size: 16px;
    line-height: 30px;
  }
  .description h1 {
    font-size: 24px;
  }
}

.description li {
  list-style-type:none;
}

.slider-column {
  width: 80%;
  margin: 5% auto;
  position: relative;
}

input[type='range'] {
  overflow: hidden;
  cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 20px;
  background: #5e380f;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  background: #b1855c;
  border-radius: 0%;
}

input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 500px;
  left: -502px;
  top: 8px;
  background: #777;
}

.grind {
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: 600;
  color:black;
}

@media (max-width: 650px) {
    .grind {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .grind {
  font-size: 14px;
  }
}

#grind-level {
  margin-top: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 600;
  color:black;
}

@media (max-width: 650px) {
  #grind-level {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  #grind-level {
    font-size: 8px;
  }
}

#grind-level span {
  float: right;
}

#grind-top {
  display: block;
  margin-bottom: 0em;
}


/* TIMER */
#container2 {
  height: 200px;
  width: 100%;
  background-color: #ffd297;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border: 3px solid #5e380f;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-shadow: 0px 0px 61px -17px #b1855c;
}

@media (max-width: 650px) {
  #container2 .label {
    font-size: 18px;
  }
} 
@media (max-width: 400px) {
  #container2 .label {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  #container2 .time {
    font-size: 18px;
  }
} 
@media (max-width: 400px) {
  #container2 .time {
    font-size: 14px;
  }
}

.label {
  margin: 0;
  justify-self: center;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 26px;
}

#min-label {
  grid-area: 1 / 2 / 1 / 2;
}

#sec-label {
  grid-area: 1 / 4 / 1 / 4;
}

input[type='number'] {
    -webkit-appearance: none;
    justify-self: center;
    align-self: center;
    border: none;
    background-color: #ffffff00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 26px;
    width: 70px;
    height: 50px;
}
input[type='number']::placeholder {
  color:grey;
}

.semicolon {
    justify-self: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}

#minute {
    grid-area: 2 / 2 / 2 / 2;
}

#p2 {
    grid-area: 2 / 3 / 2 / 3;
}

#sec {
    grid-area: 2 / 4 / 2 / 4;
}
  
.btn {
  align-self: center;    
  background-color:#ffd297;
  border: 2px solid #333;
  border-radius: 20px;
  width: 100px;
  justify-self: center;
}
@media only screen and (max-width: 600px) {
  .btn {
      width: 80px;
  }
}
@media only screen and (max-width: 400px) {
    .btn {
        width: 60px;
        font-size: 18px;
    }
}
.btn:hover{
  background-color:#fce0bb;
}
.btn:focus{
  background-color:#ffd297;
}

.btn .material-icons {
color: black;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 4 / 3 / 4;
}

.btn-save-div {
  margin-top: 20px;
}
.btn-save {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color:#ffd297;
  border: 2px solid #5e380f;
  -webkit-box-shadow: 0px 0px 61px -17px #b1855c;
  border-radius: 20px;
  height: 50px;
  width: 100%;
}

.btn-save:hover{
  background-color:#fce0bb;
}
.btn-save:focus{
  background-color:#ffd297;
}

/* MENU ZAPISU */
.side-form button {
  background: #b1855c;
  color: black;
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

form .input-field {
  margin-top: 10px;
}

.input-field input {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.add-coffee label {
  color:black;
}

input[type='text']::placeholder {
  color:grey;
}

.btn-save:hover {
  background-color:#fce0bb;
}

.btn-save:focus {
  background-color:#ffd297;
}

.btn-large {
  border: 2px solid #333;
  border-radius: 20px;
}

.btn-large:hover {
  background-color:#fce0bb;
}

.btn-large:focus {
  background-color:#b1855c;
}

/* ZAPISANE KAWY */
.recipes {
  margin-top: 20px;
  border:1px 1px 3px rgba(90,90,90,0.2);
}

.card-panel.recipe {
  border-radius: 10px;
  border: 3px solid #5e380f;
  padding: 10px;
  box-shadow: 0px 0px 61px -17px #b1855c;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-color:#ffd297;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}

.recipe-details {
  grid-area: 1 1;
  margin-left: 20px;
  margin-top: 2px;
  font-weight: bold;
}

.recipe-delete {
  grid-area: delete;
  color: #5e380f;
  position: absolute;
  bottom: 5px;
  right: 3px;
}

.recipe-delete i {
  font-size: 18px;
}

.recipe-method{
  font-weight: bold;
}

@media (max-width: 400px) {
  .recipe-method {
    font-size: 14px;
    font-weight: bold;
  }
}

.recipe-grind {
  font-size: 0.8em;
}
.recipe-coffee {
  font-size: 0.8em;
}
.recipe-water {
  font-size: 0.8em;
}
.recipe-temperature {
  font-size: 0.8em;
}
.recipe-time {
  font-size: 0.8em;
}
.recipe-rating {
  font-size: 0.8em;
}
.recipe-note {
  font-size: 0.8em;
}

/* LICENSES PAGE */
.licenses {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.licenses a {
  color: #333;
}

@media (max-width: 570px) {
  .licenses a {
  font-size: 14px;
  }
}

@media (max-width: 410) {
  .licenses a {
  font-size: 12px;
  }
}

/* OFFLINE */
.offline-page {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.offline-page h2 {
  font-size: 60px;
}

.offline-page p {
  font-size: 20px;
}

.btn-offline {
  margin-top: 10px;
  align-self: center;    
  background-color:#ffd297;
  border: 2px solid #333;
  border-radius: 20px;
  height: 80px;
  width: 70%;
  justify-self: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.btn-offline:hover {
  background-color:#fce0bb;
}
.btn-offline:focus {
  background-color:#ffd297;
}